body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

header img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.article-container {
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px 75px 0;
  width: 80%;
  height: 60%;
}
.page-wrapper {
  position: absolute;
height: 60%;
  top: 150px;
  left: 75px;
}
