body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

header img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.article-container {
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px 75px 0;
  width: 80%;
  height: 60%;
}
.page-wrapper {
  position: absolute;
  height: 60%;
  top: 150px;
  left: 75px;
}
.MuiTypography-h5.article-title {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 29px;
  font-size: 1rem;
}

@media screen and (min-width: 1441px) {
  .page-wrapper {
    top: 300px;
    left: 300px;
  }
}

@media (min-width: 900px) {
  .article-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .article-container {
    padding: 40px 50px 0;
    height: 80%;
  }
  .article-title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 425px) {
  .page-wrapper {
    left: 0;
    height: 80%;
    padding-bottom: 20px;
  }
  .article-container {
    padding: 40px 37px 0;
    height: 70%;
  }
  .back-container a {
    justify-content: center;
  }
  .MuiTypography-h5.article-title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .article-container {
    padding: 40px 33px 0;
  }
}
