$padding-large: 75px;
$padding-medium: 50px;
$padding-small: 37px;

body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

header {
  img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }
}

.article-container {
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px $padding-large 0;
  width: 80%;
  height: 60%;

  @media screen and (max-width: 768px) {
    padding: 40px 50px 0;
    height: 80%;
  }

  @media screen and (max-width: 425px) {
    padding: 40px $padding-small 0;
    height: 70%;
  }

  @media screen and (max-width: 320px) {
    padding: 40px 33px 0;
  }
}

.page-wrapper {
  position: absolute;
  height: 60%;
  top: 150px;
  left: 75px;

  @media screen and (min-width: 1441px) {
    top: 300px;
    left: 300px;
  }

  @media screen and (max-width: 425px) {
    left: 0;
    height: 80%;
    padding-bottom: 20px;
  }
}

.MuiTypography-h5.article-title {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 29px;
  font-size: 1rem;

  @media (min-width: 900px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: 425px) {
    margin-bottom: 20px;
  }
}

.back-container {
  a {
    @media screen and (max-width: 425px) {
      justify-content: center;
    }
  }
}
